LunchTime.Client/Service References/LunchTimeService/LunchTime1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LunchTime.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LunchTime.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nydevkhsql01.federation.local/LunchTime/LunchTime.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Statistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfidenceInterval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Max" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Mean" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Min" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Range" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StandardDeviation" nillable="true" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic" nillable="true" type="tns:Statistic" />
</xs:schema>