LunchTime.Client/Service References/LunchTimeService/LunchTime32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nydevkhsql01.federation.local/LunchTime/LunchTime.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://nydevkhsql01.federation.local/LunchTime/LunchTime.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LunchTime.Service.DataTransferObjects" />
  <xs:element name="GetArrivalTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArrivalTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetArrivalTimesResult" nillable="true" type="q1:ArrayOfduration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LunchTime.Service.DataTransferObjects" minOccurs="0" name="GetRestaurantsResult" nillable="true" type="q2:ArrayOfRestaurantData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatistic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LunchTime.Service.DataTransferObjects" minOccurs="0" name="GetStatisticResult" nillable="true" type="q3:StatisticData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatistics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LunchTime.Service.DataTransferObjects" minOccurs="0" name="GetStatisticsResult" nillable="true" type="q4:ArrayOfStatisticData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArrivalTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LunchTime.Service.DataTransferObjects" minOccurs="0" name="arrivalTimes" nillable="true" type="q5:ArrayOfArrivalTimeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArrivalTimesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>