LunchTime.Client/Service References/LunchTimeService/LunchTime.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LunchTime.Service.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LunchTime.Service.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nydevkhsql01.federation.local/LunchTime/LunchTime.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfRestaurantData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestaurantData" nillable="true" type="tns:RestaurantData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantData" nillable="true" type="tns:ArrayOfRestaurantData" />
  <xs:complexType name="RestaurantData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestaurantData" nillable="true" type="tns:RestaurantData" />
  <xs:complexType name="StatisticData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfidenceInterval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Max" type="ser:duration" />
      <xs:element minOccurs="0" name="Mean" type="ser:duration" />
      <xs:element minOccurs="0" name="Median" type="ser:duration" />
      <xs:element minOccurs="0" name="Min" type="ser:duration" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Range" type="xs:int" />
      <xs:element minOccurs="0" name="StandardDeviation" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticData" nillable="true" type="tns:StatisticData" />
  <xs:complexType name="ArrayOfStatisticData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatisticData" nillable="true" type="tns:StatisticData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatisticData" nillable="true" type="tns:ArrayOfStatisticData" />
  <xs:complexType name="ArrayOfArrivalTimeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrivalTimeData" nillable="true" type="tns:ArrivalTimeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrivalTimeData" nillable="true" type="tns:ArrayOfArrivalTimeData" />
  <xs:complexType name="ArrivalTimeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Restaurant" nillable="true" type="tns:RestaurantData" />
      <xs:element minOccurs="0" name="TimeArrived" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrivalTimeData" nillable="true" type="tns:ArrivalTimeData" />
</xs:schema>