LunchTime.AddIn/Service References/LunchTimeService/LunchTime3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LunchTime.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LunchTime.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nydevkhsql01.federation.local/LunchTime/LunchTime.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfArrivalTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrivalTime" nillable="true" type="tns:ArrivalTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrivalTime" nillable="true" type="tns:ArrayOfArrivalTime" />
  <xs:complexType name="ArrivalTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalTimesId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Restaurant" nillable="true" type="tns:Restaurant" />
      <xs:element minOccurs="0" name="RestaurantId" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeArrived" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrivalTime" nillable="true" type="tns:ArrivalTime" />
  <xs:complexType name="Restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalTimes" nillable="true" type="tns:ArrayOfArrivalTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestaurantId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurant" nillable="true" type="tns:Restaurant" />
</xs:schema>