LunchTime.AddIn/Service References/LunchTimeService/LunchTime.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nydevkhsql01/LunchTime/LunchTime.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LunchTime.Service" />
  <xs:element name="GetArrivalTimes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArrivalTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LunchTime.Service" minOccurs="0" name="GetArrivalTimesResult" nillable="true" type="q1:ArrayOfArrivalTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LunchTime.Service" minOccurs="0" name="GetRestaurantsResult" nillable="true" type="q2:ArrayOfRestaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArrivalTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LunchTime.Service" minOccurs="0" name="arrivalTimes" nillable="true" type="q3:ArrayOfArrivalTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArrivalTimesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>